@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@using Microsoft.ApplicationInsights.Extensibility;
@using AttackSurfaceAnalyzer.Utils;
@using System.Runtime.InteropServices;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Security-Policy" content="script-src 'self'">
    <title>Attack Surface Analyzer Preview</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="localizations" href="~/American-English.json" type="application/vnd.oftn.l10n+json" />
    @{
        if (!TelemetryConfiguration.Active.DisableTelemetry)
        {
            Html.Raw(snippet.FullScript);
        }
    }

    @* Yep. This is included twice. Without including it twice electron does not work. *@
    <script src="~/lib/jquery-3.4.0.min.js"></script>
    <script src="~/lib/jquery-3.4.0.min.js"></script>
    <script src="~/lib/fontawesome.js"></script>
    <script src="~/lib/l10n.js"></script>
    <script src="~/lib/popper.min.js"></script>
    <script src="~/lib/bootstrap.min.js"></script>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Attack Surface Analyzer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarItems" aria-controls="navbarItems" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarItems">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a asp-area="" asp-controller="Home" asp-action="Collect" id="CollectLink" class="nav-link">Scan</a>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-controller="Home" asp-action="Analyze" id="AnalyzeLink" class="nav-link">Results</a>
                </li>
                <li class="nav-item">
                    <a href="https://github.com/microsoft/attacksurfaceanalyzer/wiki" target="_blank" id="Help" class="nav-link">Help</a>
                </li>
            </ul>
        </div>
    </nav>
    @{
        if (!((RuntimeInformation.IsOSPlatform(OSPlatform.Windows) && Elevation.IsAdministrator()) || ((RuntimeInformation.IsOSPlatform(OSPlatform.Linux) || RuntimeInformation.IsOSPlatform(OSPlatform.OSX)) && Elevation.IsRunningAsRoot())))
        {
            <div class="row no-gutters">
                <div class="col-1">

                </div>
                <div class="col">
                    <div class="container">
                        <div class="row no-gutters card card-body warning" id="AdminWarning">
                            @Strings.Get("AdminWarning")
                        </div>
                    </div>
                </div>

                <div class="col-1">
                </div>
            </div>
        }
    }
    <div class="row no-gutters">
        <div class="col-1">

        </div>
        <div class="col">
            <div class="container">
                <div class="row no-gutters card card-body warning" id="IeWarning">
                    @Strings.Get("IeWarning")
                </div>
            </div>
        </div>

        <div class="col-1">
        </div>
    </div>

    <div class="row no-gutters" style="padding-bottom:30px">
        <div class="col-1">

        </div>
        <div class="col">
            <div class="container body-content">
                @RenderBody()
            </div>
        </div>

        <div class="col-1">
        </div>
    </div>
    <nav class="navbar fixed-bottom navbar-light bg-light">
        <img src="~/images/microsoft-gray.png" style="height:30px" alt="Microsoft Corporation Logo" /> v. @Helpers.GetVersionString()
    </nav>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>

</html>
