@using Microsoft.ApplicationInsights.Extensibility;
@using AttackSurfaceAnalyzer.Utils;
@{
    ViewData["Title"] = "Home Page";
}
@section Scripts{
    <script type="text/javascript" src="~/js/Index.js" asp-append-version="true"></script>
}
<link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
<br />
<h1>@Strings.Get("WelcomeHeader")</h1>
<br />
<p>@Strings.Get("WelcomeBody")</p>
<h4>Functions</h4>
<div class="row">
    <div class="col-2 left-col"><i class="fas fa-search-plus"></i>  Scan</div>
    <div class="col-9 right-col">@Strings.Get("CollectSnapshotDesc")</div>
</div>
<div class="thinspacer"></div>
<div class="row">
    <div class="col-2 left-col"><i class="fas fa-chart-bar"></i>&nbsp;&nbsp;Results</div>
    <div class="col-9 right-col">@Strings.Get("ResultsDesc")</div>
</div>  
<br />
<div class="d-flex flex-row-reverse">
    <div class="p-2">
        <a asp-area="" asp-controller="Home" asp-action="Collect" class="btn btn-primary btn-square" id="indexGetStartedButton">Get Started</a>
    </div>
</div>
<br />
<div class="spacer"></div>
<div id="moreInfo">
    @Strings.Get("MoreInfo1") <a href="https://github.com/Microsoft/AttackSurfaceAnalyzer" target="_blank">GitHub</a> @Strings.Get("MoreInfo2")
</div>
