@using Microsoft.ApplicationInsights.Extensibility;
@using AttackSurfaceAnalyzer.Utils;
@{
    ViewData["Title"] = "Home Page";
}
@section Scripts{
    <script type="text/javascript" src="~/js/Index.js" asp-append-version="true"></script>
}
<link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
<br />
<h1>@Strings.Get("WelcomeHeader")</h1>
<br />
<p>@Strings.Get("WelcomeBody")</p>
<h4>Functions</h4>
<div class="row">
    <div class="col-2 left-col"><i class="fas fa-search-plus"></i>  Scan</div>
    <div class="col-9 right-col">@Strings.Get("CollectSnapshotDesc")</div>
</div>
<div class="thinspacer"></div>
<div class="row">
    <div class="col-2 left-col"><i class="fas fa-chart-bar"></i>&nbsp;&nbsp;Results</div>
    <div class="col-9 right-col">@Strings.Get("ResultsDesc")</div>
</div>
<br />
<div class="d-flex flex-row-reverse">
    <div class="p-2">
        <a asp-area="" asp-controller="Home" asp-action="Collect" class="btn btn-primary btn-square" id="indexGetStartedButton">Get Started</a>
    </div>
</div>
@{
    if (!Telemetry.OptOut)
    {
        <label for="TelemetryOpt">
            <input type="checkbox" id="TelemetryOpt" checked /> @Strings.Get("UsageData")  <a href="https://github.com/Microsoft/AttackSurfaceAnalyzer/blob/master/PRIVACY.md" target="_blank">Privacy</a>
        </label>
    }
    else
    {
        <label for="TelemetryOpt">
            <input type="checkbox" id="TelemetryOpt" /> @Strings.Get("UsageData") <a href="https://github.com/Microsoft/AttackSurfaceAnalyzer/blob/master/PRIVACY.md" target="_blank">Privacy</a>
        </label>
    }
}
<br />
<h4>Version History</h4>
<div class="row">
    <div class="col-2 left-col">2.0</div>
    <div class="col-8">Rewrite of ASA with new UI and support for Mac OS and Linux</div>
    <div class="col-2 text-right">5/6/19</div>
</div>
<div class="spacer"></div>
<div id="moreInfo">
    @Strings.Get("MoreInfo1") <a href="https://github.com/Microsoft/AttackSurfaceAnalyzer" target="_blank">GitHub</a> @Strings.Get("MoreInfo2")
</div>
